@use "../abstract/" as *;
@use "../base/" as *;
@use "../components/" as *;
@use "../layout/" as *;



/* Breadcrumbs */
.breadcrumbs {
    &__wrapper {
        position: relative;
        overflow: hidden;
        padding: 40px 0;
        text-align: center;
        background-color: #cccccc;
        z-index: 1;

        h2 {
            font-size: 32px;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
            letter-spacing: normal;
            color: $clr-light;
        }
    
        ul {
            margin-top: 14px;
            margin-left: -15px;
            margin-right: -15px;
            font-size: 14px;
            line-height: 1.33;
            font-weight: 500;
            letter-spacing: .1em;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif, Arial, sans-serif;
        }
    
        li {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            padding-right: 15px;
        }

        a {
            color: #ffffff;
            display: inline;
            vertical-align: middle;
            transition: all 0.3s ease-in-out;
        }

        li:nth-child(1)::after {
            content: "/";
            display: inline-block;
            position: absolute;
            top: 50%;
            right: -8px;
            color: white;
            transform: translate3d(0, -50%, 0);
        }

        li.active {
            color: rgba(255, 255, 255, 0.53);
        }

        .box-position {
            position: absolute;
            left: 0;
            top: 0;
            width: calc(100% + 150px);
            height: calc(100% + 150px);
            will-change: transform;
            animation: bgPos 100s linear infinite;
            transform: translate3d(-75px, -75px, 0) rotate(0.001deg);
            background-position: 50% 50%;
            background-size: cover;
            z-index: -1;
        }
    }

    &__wrapper::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: rgba(43, 49, 59, 0.025);
    }

    .container {
        position: relative;
    }
}

/* Tours */
.tours{
    &__wrapper{
    background-color: white;
    
}
&__tab{
    box-sizing: border-box;
    padding: 4rem .5rem;
}
&__item{
    
    .tours__image{
         position: relative;
        img{
            max-width:37.2rem;
            margin: 0 auto;
           
        }
        .tours__price{
            position: absolute;
            overflow: hidden;
            text-align: center;
            padding: .5rem .8rem;
            top: 0;
            right: 0;
            font-size: 18px;
            line-height: 1;
            font-weight: 500;
            letter-spacing: .025em;
            color: #cccccc;
            text-transform: uppercase;
            background: transparent;
            z-index: 1;
            &::before{
            position: absolute;
            content: '';
            bottom: 0;
            left: 14px;
            width: 400%;
            height: 100%;
            background: #01b3a7;
            transform: skew(45deg);
            transform-origin: 50% 100%;
            will-change: transform;
            pointer-events: none;
            z-index: -1;
                    }
            

            span{
                font-size: 1.6rem;
                letter-spacing: .025em;
                color: #ffffff;
                display: block;
                
               
            }  
        }
        
    }
  
    .tours__details{
        margin: 2rem auto;
        position: relative;
        h5{
          color: black;  
          font-weight: 400;
          font-size: 1.8rem;
          
          &:hover{
            color: $clr-accent;
        }
        }
        .tours__ratings{
            i{
             color: $clr-star;  
             font-size: 1rem;
            }
             
        }
        p{
            color: gray;
            font-size: 1.2rem;
            font-weight: 200;
            font-weight: 300;
        }
       
        
    }
   
}
&__nav{
    
    ul{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
ul li h2{
color: black;
padding: 2px 5px;
background-color:transparent;
border-radius: 50%;
box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.17);
width: 3rem;
text-align: center;
font-size: 1.5rem;
font-weight: 300;




}
ul li i{
    color: black;
    padding: 4px 5px;
    background-color:transparent;
    border-radius: 50%;
    box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.17);
    width: 3rem;
    text-align: center;
    font-size: 2rem;
   
    
}
}

}

/*    .get__steps h2{
    @apply  bg-transparent border-[2px] border-berde text-berde px-5 py-2 rounded-full text-[1.5rem] font-semibold 
    md:w-[3.5rem] md:mx-auto */