@use '../abstract/' as *;
.btn{
  background: $clr-primary;
  width: 16rem;
  height: 5rem;
  position:relative;
  padding:2.5rem 2rem;
  cursor: pointer;
  @include d-flex(center, center);
}

.btn::before{
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
}

.btn1::before{
    width: 0;
    height: 100%;
    background: $clr-accent;
}
.btn1:hover::before{
    width: 100%;
    transition: .2 ease;

}