@use '../abstract/' as *;
.btn{
    background: $clr-primary;
    padding:1.5rem,2.5rem;
    margin: 2rem 0;
    display:flex;
    transition: .5s ease;
    color: black;
    outline: $clr-dark 1px;
    width: 15rem;
    height: 5rem;
    border-color: black;
    

    @include d-flex(center, center);
        &:hover{
            background: $clr-accent;
        }
    &-primary{
        background: $clr-light;
    }
    $colorsbtn:(
        "light": $clr-light,
        "dark": $clr-dark,
        "accent": $clr-accent,
);
//color classes assigner ex: class="container bg-yellow"
@each $key, $val in $colorsbtn{
    .btnColor-#{$key}{
        background-color: #{$val};
    }
}
}