@use '../abstract/' as *;
.btn{
    background: $clr-primary;
    margin: 2rem 0;
    display:flex;
    transition: .5s ease;
    width: 13rem;
    height: 4.5rem;
  position:inherit;
  cursor: pointer;
   

    @include d-flex(center, center);
        
    &-primary{
        background: $clr-light;
        border-color: $clr-accent;
    }
    $colorsbtn:(
        "light": $clr-light,
        "dark": $clr-dark,
        "accent": $clr-accent,
);
//color classes assigner ex: class="container bg-yellow"
@each $key, $val in $colorsbtn{
    .btnColor-#{$key}{
        background-color: #{$val};
    }
}
}