//base for typographical sizes of the divs, sections, body. i.e. line-height, liding.
@use '../abstract/' as *;
@font-face{
    font-family: "fl-bigmug-line";
    src: url('../../fonts/fl-bigmug-line.woff');
}
@font-face {
    font-family: "fontawesome-webfont";
    src: url('../../fonts/fontawesome-webfont.woff2');
}
@font-face{
    font-family: "JTUSjIg1_i6t8kCHKm459Wlhyw";
    src: url('../../fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2');
}
@font-face{
    font-family: "fonts/MaterialIcons-Regular";
    src: url('../../fonts/fonts/MaterialIcons-Regular.woff2');
}


body{
    font-family:  "JTUSjIg1_i6t8kCHKm459Wlhyw";
    background-color: $clr-dark;
    // background-color:red;
    color:rgba($clr-dark, 0.7);
    line-height: 1.6;
    font-size: 1.6rem;
    cursor: crosshair; 
}
.container{
    max-width: 98rem;
    padding: 0 1.6rem;
    margin:0 auto;
}
body.open{
 overflow: hidden;

}
html{
    font-size: 10px; 
    // overflow: hidden;
   
    
}
a{
    text-decoration: none;
    color: $clr-light;
}
p{
    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: 1.15rem;
    text-wrap: balance;
    color: $clr-light;
}
h1,h2,h3,h4,h5,h6{
    font-family: "JTUSjIg1_i6t8kCHKm459Wlhyw";
    text-wrap: balance;
    color: $clr-light;
}
h1{
    font-size: clamp(3.5rem, 6vw,5.5rem);
    margin-bottom: 2rem;
}
h2{
    font-size: clamp(2rem, 6vw,3rem);
    margin-bottom: 2rem;
}
h3{
    font-size: clamp(2rem, 6vw,2.5rem);
    margin-bottom: 1.6rem;
}
h4{
    font-size: clamp(1.4rem, 6vw,1.6rem);
    margin-bottom: 1.6rem;
}

ul{
    text-transform: none;
    list-style: none;
    li{
        color: $clr-light;
        font-family: "JTUSjIg1_i6t8kCHKm459Wlhyw";
    i{
        font-family: "JTUSjIg1_i6t8kCHKm459Wlhyw";
    }
}
}

button{
    color: $clr-light;
}
label, input ,textarea, i{
    color:$clr-dark;
    font-family:"JTUSjIg1_i6t8kCHKm459Wlhyw" ;
}
small{
    color: $clr-light;
}
i{
    color:$clr-light;
}

    
