

//primary

$clr-primary: #fff;
$clr-accent: #01b3a7;
$clr-light: #fff;
$clr-dark: #000;
$clr-gray: #e1e1e1;
$clr-star: #ffcc00;
$clr-grey: #d5d4d5;
$clr-dark-accent: #016760;
$clr-dark-blue: #162e44;
//non-primary colors

//non-screen sizes
$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1600px";


